---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fd14cc933a5484cc6918c6f23b20fb7e9924e02f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"5ca137d3418b17adaf31f6e9a0608f6c"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - c3fc16d6380e3da7d92d09f90912ac4a
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '4,103'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":587580715,"resource_state":2,"external_id":"733191D6-FA3E-4E1F-B4FB-67CB5A0E1B39","upload_id":642075209,"athlete":{"id":15379571,"resource_state":1},"name":"Dhs
        to school","distance":4031.3,"moving_time":540,"elapsed_time":553,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-05-25T14:40:28Z","start_date_local":"2016-05-25T08:40:28Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.736867,-105.023706],"end_latlng":[39.749774,-105.000092],"location_city":null,"location_state":null,"location_country":null,"start_latitude":39.736867,"start_longitude":-105.023706,"achievement_count":3,"kudos_count":1,"comment_count":1,"athlete_count":1,"photo_count":0,"map":{"id":"a587580715","summary_polyline":"kbpqFdm_`SgGeMS_LcDmFiWwGTqBeCAcC_Eca@}CgN{XsCM_HsIzNoOnPoVbEgB_@eEyCiEmD`B","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":null,"average_speed":7.465,"max_speed":17.4,"has_heartrate":false,"elev_high":1588.0,"elev_low":1575.5,"total_photo_count":0,"has_kudoed":false,"workout_type":0},{"id":586924687,"resource_state":2,"external_id":"B6F9AEE2-2283-429F-BFA0-39E8ABC4C527","upload_id":641404943,"athlete":{"id":15379571,"resource_state":1},"name":"Going
        home","distance":4655.2,"moving_time":726,"elapsed_time":738,"total_elevation_gain":25.3,"type":"Run","start_date":"2016-05-24T21:07:32Z","start_date_local":"2016-05-24T15:07:32Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.74853,-105.001296],"end_latlng":[39.731964,-105.027531],"location_city":n[...]
